body {
    background-color: var(--bg-color);
    color: var(--color);
    font-family: 'Alegreya', serif;
    line-height: 1.5;
    font-size: 16pt;
}

a, a:visited {
    color: var(--title-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

h1 {
    font-size: 48pt;
}

code {
    color: var(--code-color);
    background-color: var(--code-bg-color);
    padding: 0 .25em .25rem .25em;
    border-radius: .25em;
    font-size: 0.75em;
}

.copyright {
    text-align: center;
    color: var(--copyright-color);
    font-size: 10pt;
    background-color: var(--sidebar-bg-color);
}

/** List of posts */
.posts .post-group {
    margin-bottom: 2em;
}

.posts .post-group h2{
    font-size: 24pt;
    color: var(--color);
    margin-bottom: 0.25em;
}

.posts .post-group .post-entry {
    margin-left: 1em;
    margin-bottom: 1em;
}


/** Post entry */
.post-entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post-entry .post-tags{
    flex: 100%;
    margin-top: .5em;
}
.post-entry time {
    min-width: 6em;
}

/** Post header */
.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-header .title {
    flex: 100%;
}

.post-header time {
    flex: 50%;
    text-align: right;
}

/** Post */
article .post-header {
    border-bottom: 1px solid;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

article pre code {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em;
}

/** List of tags */
.post-tags {
    text-decoration: none;
    margin: 0;
    display: flex;
    padding: 0;
    flex: 50%;
    gap: .5em;
    font-size: 12pt;
}

.post-tags li{
    display: inline;
}

.post-tags li a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--tag-bg-color);
    color: var(--tag-color);
    padding-left: .5em;
    padding-right: .5em;
    border-radius: .5em;
}
