body {
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: 'Alegreya', serif;
    line-height: 1.5;
    font-size: 16pt;
    overflow: hidden;
    height: 100vh;
}

a, a:visited {
    color: var(--title-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    /* font-family: 'Oswald', sans-serif; */
}

h1 {
    font-size: 48pt;
    margin-top:0.75rem;
    margin-bottom:0.75rem;
}

#page {
    display: flex;
    height: 100%;
}

main {
    flex: 1;
    padding: 2em;
    overflow: auto;
}

article {
    min-width: 600px;
    max-width: 1200px;
}

code {
    color: var(--code-color);
    background-color: var(--code-bg-color);
    padding: 0 .25em .25rem .25em;
    border-radius: .25em;
    font-size: 0.75em;
}

@media (max-width: 700px) {
    #page {
      flex-direction: column;
    }
  }
