.post-entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post-entry .post-tags{
    flex: 100%;
    margin-top: .5em;
}
.post-entry time {
    min-width: 6em;
}

.post-entry .title {
    /* flex: 100%; */
}


